{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>freeze Account</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/trans2.css' %}">
</head>
<body style="background-image: url(4.webp); background-size: cover; height: 100vh">
    

    <div class="login-form">
        <h2>Freeze Account</h2>

        <!-- Message section -->
        {% if messages %}
            <div>
                <ul>
                    {% for message in messages %}
                        <li id="error-message" class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Unfreeze Account form -->
        <form id="freeze-account-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.acc_no.label_tag }} {{ form.acc_no }}
                {% if form.acc_no.errors %}
                    <div class="error">{{ form.acc_no.errors }}</div>
                {% endif %}
            </div>
            <input type="submit" value="Freeze Account" class="btn btn-primary" />
        </form>
    </div>
</body>
</html>
